<div class="clip_item">
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= link_to image_tag(youtube_video_thumbnail(clip.video_url), alt: clip.title ), clip %>
      </div>
    </div>
    <div class="col-sm-8">
      <%= link_to content_tag(:h2, clip.title), clip %>

      <div class="published_at"><%= t("clip_list_item.added") %>: <time datetime="<%= clip.created_at.to_s %>"><%= l clip.created_at, format: :long %></time>; <%= t("clip_list_item.author") %>: <%= render clip.user %></div>

      <p class="description"><%= clip.description.truncate 200 %></p>

      <%= link_to [glyph(:film), t("clip_list_item.watch")].join(' ').html_safe, clip %>
    </div>
  </div>
</div>