<%
  set_meta_tags title:        @clip.title,
                description:  (@clip.description || "").truncate(255),
                canonical:    clip_url(@clip),
                og: {
                  site_name: t('layout.sitename'),
                  title: @clip.title,
                  type:  'video.other',
                  url:   clip_url(@clip),
                  image: youtube_video_thumbnail(@clip.video_url)
                }
%>

<div id="clip">
  <h1><%= @clip.title %></h1>

  <div class="thumbnail">
    <div class="embed-responsive embed-responsive-16by9">
      <%= youtube_embed @clip.video_url %>
    </div>
  </div>

  <%= render partial: 'panel', locals: { video: @clip } %>

  <div class="well">
    <p class="description"><%= @clip.description %></p>

    <%= render partial: 'tags', locals: { video: @clip } %>
  </div>

  <%= video_tabs @clip %>
</div>