<% provide :title, @clip.title %>

<div id="clip">
  <h1><%= @clip.title %></h1>

  <div class="thumbnail">
    <div class="embed-responsive embed-responsive-16by9">
      <%= youtube_embed @clip.video_url %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="pull-left">
        <%= render '/impressionable/rating', impressionable: @clip %>
        <span class="author"><%= t "clip_show.author" %>: <%= render @clip.user %></span>

        <%= share_options %>
      </div>
      <div class="pull-right">
        <% if can? :edit, @clip %>
          <%= link_to [glyph('edit'), t("clip_show.edit")].join(' ').html_safe, edit_clip_path(@clip), class: "btn btn-default btn-xs" %>
        <% end %>

        <% if can? :destroy, @clip %>
          <%= link_to [glyph('trash'), t("clip_show.delete")].join(' ').html_safe, @clip, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: t("confirm.are_you_sure") } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="well">
    <p class="description"><%= @clip.description %></p>
  </div>

  <%= video_tabs @clip %>
</div>