<div class="panel panel-default">
  <div class="panel-body">
    <div class="pull-left">
      <%= render '/impressionable/rating', impressionable: video %>
      <span class="author"><%= t "video_panel.author" %>: <%= render video.user %></span>

      <%= share_options if video.published? %>
    </div>
    <div class="pull-right actions">
      <% if video.published? %>
        <%= video_publish_date video %>
      <% elsif can? :publish, video %>
        <%= button_to [video, :publish], method: :patch, class: "btn btn-default btn-xs" do %>
          <%= glyph('ok') %> <%= t("video_panel.publish") %>
        <% end %>
      <% end %>

      <% if can? :edit, video %>
        <%= link_to [glyph('edit'), t("edit")].join(' ').html_safe, [:edit, video], class: "btn btn-default btn-xs" %>
      <% end %>

      <% if can? :destroy, video %>
        <%= button_to video, method: :delete, class: "btn btn-danger btn-xs", data: { confirm: t("confirmation.are_you_sure") } do %>
          <%= glyph('trash') %> <%= t("delete") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>