<%= f.inputs do %>
  <div id="asciicast_inputs" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="input_tab active"><a href="#asciicast_input" aria-controls="asciicast_input" role="tab" data-toggle="tab"><%= t "screencast_form.asciicast" %></a></li>
      <li role="presentation" class="preview_tab"><a href="#asciicast_preview" aria-controls="asciicast_preview" role="tab" data-toggle="tab"><%= t "screencast_form.asciicast_preview" %></a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="asciicast_input"><%= f.input :content, hint: link_to('Markdown cheatsheet', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet', target: '_blank') %></div>
      <div role="tabpanel" class="tab-pane" id="asciicast_preview"></div>
    </div>
  </div>

  <%= link_to_remove_association t('screencast_form.remove_asciicast'), f, wrapper_class: 'inputs' %>
<% end %>