<div class="screencast_item">
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= link_to image_tag(youtube_video_thumbnail(screencast.video_url), alt: screencast.title ), screencast %>
      </div>
    </div>
    <div class="col-sm-8">
      <%= link_to content_tag(:h2, screencast.title), screencast %>

      <div class="published_at"><%= video_publish_date screencast %>; <%= t("screencast_list_item.author") %>: <%= render screencast.user %></div>

      <p class="description"><%= screencast.description.truncate 200 %></p>

      <%= link_to [glyph(:film), t("screencast_list_item.watch")].join(' ').html_safe, screencast %>
    </div>
  </div>
</div>