<% provide :title, @screencast.title %>

<h1><%= @screencast.title %></h1>

<div class="thumbnail">
  <div class="embed-responsive embed-responsive-16by9">
    <%= youtube_embed @screencast.video_url %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <% if can? :edit, @screencast %>
      <%= link_to [glyph('edit'), t("screencast_show.edit")].join(' ').html_safe, edit_screencast_path(@screencast), class: "btn btn-default btn-xs" %>
    <% end %>

    <% if can? :destroy, @screencast %>
      <%= link_to [glyph('trash'), t("screencast_show.delete")].join(' ').html_safe, @screencast, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: t("confirm.are_you_sure") } %>
    <% end %>
  </div>
</div>

<p><%= @screencast.description %></p>

<% if @screencast.references.any? %>
  <div class="well">
    <%= Reference.model_name.human count: 10 %>:
    <ol>
      <%= render @screencast.references %>
    </ol>
  </div>
<% end %>

<%- disqus_thread %>