<% provide :title, @screencast.title %>

<div id="screencast">
  <h1><%= @screencast.title %></h1>

  <div class="thumbnail">
    <div class="embed-responsive embed-responsive-16by9">
      <%= youtube_embed @screencast.video_url %>
    </div>
  </div>

  <%= render partial: 'panel', locals: { video: @screencast } %>

  <div class="well">
    <p class="description"><%= @screencast.description %></p>

    <%= render partial: 'tags', locals: { video: @screencast } %>
  </div>

  <%= video_tabs @screencast %>
</div>