<%
  set_meta_tags title:        @screencast.title,
                description:  (@screencast.description || "").truncate(255),
                canonical:    screencast_url(@screencast),
                og: {
                  site_name: t('layout.sitename'),
                  title: @screencast.title,
                  type:  'video.other',
                  url:   screencast_url(@screencast),
                  image: youtube_video_thumbnail(@screencast.video_url)
                }
%>

<div id="screencast">
  <h1><%= @screencast.title %></h1>

  <div class="thumbnail">
    <div class="embed-responsive embed-responsive-16by9">
      <%= youtube_embed @screencast.video_url %>
    </div>
  </div>

  <%= render partial: 'panel', locals: { video: @screencast } %>

  <div class="well">
    <p class="description"><%= @screencast.description %></p>

    <%= render partial: 'tags', locals: { video: @screencast } %>
  </div>

  <%= video_tabs @screencast %>
</div>